songs.txt

[Bb]in/
[Oo]bj/
*.exe
*.dll
*.lib
*.app
*.iobj
*.ipdb
*.pdb
*.ilk
*.log

.vs/
.vscode/

*.user
*.suo
*.userosscache
*.sln.docstates

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

Debug/
Release/
x64/
x86/

*.bak
*.tmp

*.tlog
*.lastbuildstate
*.idb
*.iobj
*.sdf
*.opensdf
*.VC.db
*.VC.VC.opendb
